CompileFlags:
  CompilationDatabase: ../../mlibc-build
  Add:
    - -D__MLIBC_BUILDING_MLIBC
  Remove:
    - -Werror=misleading-indentation
    - -fno-PIC

Diagnostics:
  ClangTidy:
    Add:
      - "bugprone-*"
      - "readability-*"
      - "performance-*"
      - "misc-*"
    Remove:
      - readability-identifier-length
      - readability-function-cognitive-complexity
      - bugprone-easily-swappable-parameters
      - bugprone-reserved-identifier
      - misc-no-recursion
      - readability-braces-around-statements
      - readability-implicit-bool-conversion
      - misc-use-internal-linkage
      - modernize-use-trailing-return-type
      - readability-inconsistent-declaration-parameter-name
      - readability-qualified-auto
      - cppcoreguidelines-pro-type-static-cast-downcast
      - readability-named-parameter
      - cppcoreguidelines-avoid-do-while
      - readability-simplify-boolean-expr
      - readability-else-after-return
      - cppcoreguidelines-init-variables
      - readability-make-member-function-const
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

---
If:
  PathMatch: .*\.h
  PathExclude: .*\.hpp
Diagnostics:
  ClangTidy:
    Remove:
      - "modernize-*"
      - "cppcoreguidelines-*"
