CompileFlags:
  CompilationDatabase: ../../mlibc-build
  Add:
    - -D__MLIBC_BUILDING_MLIBC
  Remove:
    - -Werror=misleading-indentation
    - -fno-PIC

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
